/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #000104 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #bfbfc0; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #bfbfc0; background-color: rgba(139,68,63,0.4)}
.cm-s-nqqwal { background-color: #000104; color: #bfbfc0; }
.cm-s-nqqwal span.cm-builtin { color: #2C4A56; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #3f4042; }
.cm-s-nqqwal span.cm-keyword { color: #3A5A62; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #4D5055; }
.cm-s-nqqwal span.cm-def { color: #666665; }
.cm-s-nqqwal span.cm-variable { color: #8B443F; }
.cm-s-nqqwal span.cm-variable-2 { color: #666665; }
.cm-s-nqqwal span.cm-string { color: #2C4A56; }
.cm-s-nqqwal span.cm-string-2 { color: #2C4A56; }
.cm-s-nqqwal span.cm-number { color: #666665; }
.cm-s-nqqwal span.cm-tag { color: #3A5A62; }
.cm-s-nqqwal span.cm-property { color: #8B443F; }
.cm-s-nqqwal span.cm-attribute { color: #8B443F; }
.cm-s-nqqwal span.cm-qualifier { color: #4D5055; }
.cm-s-nqqwal span.cm-meta { color: #666665; }
.cm-s-nqqwal span.cm-header { color: #3A5A62; }
.cm-s-nqqwal span.cm-operator { color: #3A5A62; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(102,102,101,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #3A5A62; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #000104); }
