#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#000103",
    floating_border_color: "#0C83BB",
    focused_border_color: "#bfbfc0",
    background_color: "#000103",
)