/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #020203 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #bfbfc0; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #bfbfc0; background-color: rgba(113,135,169,0.4)}
.cm-s-nqqwal { background-color: #020203; color: #bfbfc0; }
.cm-s-nqqwal span.cm-builtin { color: #37638A; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #414142; }
.cm-s-nqqwal span.cm-keyword { color: #546B90; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #6A7596; }
.cm-s-nqqwal span.cm-def { color: #8A778D; }
.cm-s-nqqwal span.cm-variable { color: #7187A9; }
.cm-s-nqqwal span.cm-variable-2 { color: #8A778D; }
.cm-s-nqqwal span.cm-string { color: #37638A; }
.cm-s-nqqwal span.cm-string-2 { color: #37638A; }
.cm-s-nqqwal span.cm-number { color: #8A778D; }
.cm-s-nqqwal span.cm-tag { color: #546B90; }
.cm-s-nqqwal span.cm-property { color: #7187A9; }
.cm-s-nqqwal span.cm-attribute { color: #7187A9; }
.cm-s-nqqwal span.cm-qualifier { color: #6A7596; }
.cm-s-nqqwal span.cm-meta { color: #8A778D; }
.cm-s-nqqwal span.cm-header { color: #546B90; }
.cm-s-nqqwal span.cm-operator { color: #546B90; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(138,119,141,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #546B90; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #020203); }
