#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#000104",
    floating_border_color: "#8B443F",
    focused_border_color: "#bfbfc0",
    background_color: "#000104",
)