/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #000103 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #bfbfc0; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #bfbfc0; background-color: rgba(12,131,187,0.4)}
.cm-s-nqqwal { background-color: #000103; color: #bfbfc0; }
.cm-s-nqqwal span.cm-builtin { color: #075988; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #3f4042; }
.cm-s-nqqwal span.cm-keyword { color: #086497; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #0972AC; }
.cm-s-nqqwal span.cm-def { color: #077FC4; }
.cm-s-nqqwal span.cm-variable { color: #0C83BB; }
.cm-s-nqqwal span.cm-variable-2 { color: #077FC4; }
.cm-s-nqqwal span.cm-string { color: #075988; }
.cm-s-nqqwal span.cm-string-2 { color: #075988; }
.cm-s-nqqwal span.cm-number { color: #077FC4; }
.cm-s-nqqwal span.cm-tag { color: #086497; }
.cm-s-nqqwal span.cm-property { color: #0C83BB; }
.cm-s-nqqwal span.cm-attribute { color: #0C83BB; }
.cm-s-nqqwal span.cm-qualifier { color: #0972AC; }
.cm-s-nqqwal span.cm-meta { color: #077FC4; }
.cm-s-nqqwal span.cm-header { color: #086497; }
.cm-s-nqqwal span.cm-operator { color: #086497; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(7,127,196,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #086497; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #000103); }
